* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  height: 70px;
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 10px;
  font-family: sans-serif;
}

.logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 30px;
  margin: 0 10px;
}

.search-input {
  height: 40px;
  padding: 10px;
  border: none;
  width: 100%;
}

.search-icon {
  padding: 10px;
  height: 40px !important;
  width: 40px !important;
  background-color: #cd9042;
}

.navbar-options {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  color: white;
}

.navbar-options .title {
  font-size: 15px;
  color: #c2c2c2;
}

.navbar-options .sub {
  font-size: 15px;
  font-weight: 700;
}

.basket {
  display: flex;
  align-items: center;
}
.basket-count h2 {
  font-size: 20px;
  color: white;
  margin: 10px;
}

.subnav {
  background-color: #232f3e;
  height: 50px;
  display: flex;
}

.subnav button {
  background-color: #232f3e;
  color: white;
  padding: 0 10px;
  margin: 5px 5px;
  border: none;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.subnav span {
  margin: 5px;
}

.subnav button:hover {
  border: 1px solid white;
  border-radius: 1px;
}
